<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.branddog.culture.mapper.CultureMapper">

	<select id="search" resultType="com.branddog.culture.dto.CultureDTO">
			select no, startDate, endDate, timeUnit, title, keywords, data from culturesearchtrend	where no =  (SELECT max(no) FROM culturesearchtrend)
	</select>
	<select id="word" resultType="com.branddog.culture.dto.CultureWordDTO">
			select * from culturereword where title = #{word}
	</select>
	
</mapper>